@import "tailwindcss";

body {
  background-color: #f5efe7;
}

/* Gradiente Conexia */
.conexia-gradient {
  background: linear-gradient(90deg, #c8b3f5 0%, #c8a5ba 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-stroke: 0.5px rgb(180, 172, 172);
}



